/*BASIC STYLES*/

ul 
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	max-width: 100%;
}


li
{
	padding: 1em;
	background: rgb(172, 219, 219);
    border: rgba(89, 101, 223, 0.32) 3px solid;
}

img 
{
	max-width: 50%;

	/*center the image horizontally*/
	margin: auto;

	/*margin will be ingorned without forcing it to be block element*/
	display: block;
	border-radius: 50%;
}

h3
{
	font-family: 'Bangers', cursive;
	color: orange;
}

.button
{
	background-color: orange;
	color: white;
	font-family: 'Passion One', cursive;

	/*to get rid of underline on link*/

	text-decoration: none;

	padding: .3em;

	/*make the edges curved*/
	border-radius: .5em;
	
	display: block;
	text-align: center;
	font-size: 2em;
}

/*ANIMATIONS*/

.button
{
	/*link*/
	transition: all 0.5s linear;
}

.button:hover
{
	background-color: rgb(229, 59, 29);
}

/*@-webkit-keyframes shake
	{
	  0%, 100% {
	    transform: translate3d(0, 0, 0);
	  }

	  10%, 30%, 50%, 70%, 90% {
	    transform: translate3d(-10px, 0, 0);
	  }

	  20%, 40%, 60%, 80% {
	    transform: translate3d(10px, 0, 0);
	  }
	}*/

	/* for all other browsers */
	/*@keyframes shake
	{
	  0%, 100% {
	    transform: translate3d(0, 0, 0);
	  }

	  10%, 30%, 50%, 70%, 90% {
	    transform: translate3d(-10px, 0, 0);
	  }

	  20%, 40%, 60%, 80% {
	    transform: translate3d(10px, 0, 0);
	  }
	}*/

@-webkit-keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

img:hover
{
    /* for Chrome and Safari*/
    -webkit-animation-name: swing;
    -webkit-animation-duration: 1s;

    /* for all other browsers? */
    animation-name: swing;
    animation-duration: 1s;

    /* more properties to tweak your animations */
    /*-webkit-animation-timing-function: ease-in-out;*/
    /*-webkit-animation-delay: 1s;*/
    /*-webkit-animation-iteration-count: infinite;*/
}

@media (min-width: 768px) {

  .half1 {
    width: 50%;
    float: left;
    overflow: hidden;
  }

    .half2 {
    width: 50%;
    float: left;
    overflow: hidden;
  }

}
	